# Spotify API
SPOTIPY_CLIENT_ID="tu_id_de_cliente_aqui"
SPOTIPY_CLIENT_SECRET="tu_secret_de_cliente_aqui"
SPOTIPY_REDIRECT_URI="http://127.0.0.1:8080"

# LLM Providers
GROQ_API_KEY="tu_clave_de_groq_aqui"
GEMINI_API_KEY="tu_clave_de_gemini_aqui"
OPENAI_API_KEY="tu_clave_de_openai_aqui"